<IfModule mod_rewrite.c>
       <IfModule mod_negotiation.c>
        Options -MultiViews
        Options -Indexes
    </IfModule>
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>
</IfModule>